*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/build/
/.gradle/
/gradlew
/gradlew.bat
/gradle/wrapper/
/.idea/
*.iml
/app/src/androidTest/
/app/src/test/
*.log
*.tmp
